html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(
    -45deg,

    #23a6d5,
    #23d5ab,
    #73937e,
    #25283d,
    #f5b700,
    #0a0908,
    #1e3231
  );
  background-size: 800% 1000%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
