body {
  background: #00b09b;
  background: -webkit-linear-gradient(to right, #7e9fa0, #1c608a);
  background: linear-gradient(to right, #7e9fa0, #1c608a);

  min-height: 100vh;
}

.text-gray {
  color: #9e8d80;
}
